.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.card {
  width: 150px;
  aspect-ratio: 5 / 7;
  border-radius: 12px;
  overflow: hidden;
  margin: 10px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

header {
  background-color: darkblue;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px;
}

#logo img {
  width: 50px;
  aspect-ratio: 1 / 1;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

.home {
  h1 {
    text-align: center;
    color: black;
  }

  h2 {
    text-align: center;
    color: black;
  }

  button {
    text-align: center;
    color: white;
    background-color: darkblue;
    border: none;
    width: 200px;
    aspect-ratio: 3 / 1;
    font-size: 24px;
    padding: .75em 1.5em;
    border-radius: .5em;

  }

  button:hover {
    text-decoration: underline;
  }
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0ece2;
  background-image:
    radial-gradient(rgba(0, 0, 0, 0.15) 1px, transparent 1px);
    background-size: 8px 8px;
}

#lobby button {
  text-align: center;
  color: white;
  background-color: darkblue;
  border: none;
  width: 240px;
  aspect-ratio: 3 / 1;
  font-size: 24px;
  padding: .75em 1.5em;
  border-radius: .5em;
  white-space: nowrap;
  margin: 15px
}

#lobby button:hover {
    text-decoration: underline;
}

#lobby h1 {
  color: black;
}

#lobby {

}

#playerboard {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 4fr 1fr 1fr 1fr;
}

.zone {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 170px;
  min-height: 230px;
  align-items: flex-start;
}

#battlefield {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  
}

#commander-zone {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#graveyard {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

#hand {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

#library {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}